#container-socials {
  position: absolute;
  border-radius: 0px;
  max-width: 500px;
  height: auto;
  padding: 5px;
  display: block;
  left: 57.5%;
  top: 555px;
}

@media only screen and (max-width: 600px) {
  #container-socials {
    position: absolute;
    border-radius: 0px;
    max-width: 500px;
    height: auto;
    padding: 5px;
    display: block;
    left: calc(100vw - 85vw);
    top: 70%;
  }
}

.social-icon {
  margin-right: 20px;
  fill: #fff;
}
.social-icon:hover {
  fill: rgba(53, 224, 250, 1);
}

.social-icon-s {
  margin-right: 20px;
  background: url("../images/SolSea_Logo2.svg") no-repeat;
  background-size: contain;
  border
}
.social-icon-s:hover {
  background: url("../images/SolSea_Logo2b.svg") no-repeat;
  background-size: contain;
}
