.connect_wallet_size{
 
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.connect_wallet_size:hover {
  background-color: darkblue;
}
