
.app__faq {
    /* background-color: #3b4053; */
    padding: 4rem 25rem 0;
    background-color: #1A1D24;
}

.app__faq-container {
    width: 100%;
    padding-bottom: 4rem;
}

.app__faq-container__heading h1{
    color: #fff;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.app__faq-container__heading p {
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}


@media screen and (max-width: 824px) {
    .app__faq {
        padding: 3rem 1.5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .app__faq-container__heading h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .app__faq-container__heading p {
        font-size: 1.1rem;
    }
}