
.app__faq {
    background-color: #3b4053;
}

.app__faq-container {
    margin: auto;
    max-width: 824px;
    padding: 4rem 0;
}

.app__faq-container__heading h1{
    color: #fff;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}
.app__faq-container__heading p {
    color: #fff;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}


@media screen and (max-width: 824px) {
    .app__faq-container {
        max-width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 560px) {
    .app__faq-container__heading h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .app__faq-container__heading p {
        font-size: 1rem;
    }
}