
.app__faq {
    padding: 6rem 2rem 0;
    background-color: #1A1D24;
}

.app__faq-container {
    margin: auto;
    max-width: 824px;
    padding-bottom: 4rem;
}

.app__faq-container__heading h1{
    color: #fff;
    font-family: var(--title);
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.app__faq-container__heading p {
    color: #fff;
    font-family: var(--subtitle);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}


@media screen and (max-width: 824px) {
    .app__faq {
        padding: 3rem 1.5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .app__faq-container__heading h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    .app__faq-container__heading p {
        font-size: .875rem;
    }
}