
.app__footer {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 4rem 2rem;
}
.app__footer-container p {
    color: #fff;
    font-family: var(--subtitle);
    text-align: center;

}
.app__footer-container__social {
    margin-bottom: 2rem;
}

.app__footer-container ul {
    align-items: center;
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: center;
}


.app__footer-container__social .app__icons svg {
    color: #fff !important;
    font-size: 32px;
    height: 32px;
    width: 32px;
}

@media screen and (max-width: 824px) {
    .app__footer-container ul {
        gap: 1rem;
    }
    .app__footer-container__social {
        margin-bottom: 1rem;
    }
    .app__footer-container__social .app__icons svg {
        font-size: 25px;
        height: 25px;
        width: 25px;
    }
    .app__footer-container p {
        font-size: 12px;
    }
}