.app__guardian {
    padding: 0 4rem;
}

.app__guardian-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    justify-content: center;
}

.app__guardian-container h1 {
    font-family: var(--title);
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.app__guardian-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 32px;
}

.app__guardian-grid img {
    width: 100%;
    height: auto;
}

.app__guardian-grid_item {}

.-item1 {
    rotate: -5deg;
}

.app__guardian-row__left p {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--subtitle);
    text-transform: uppercase;
}

.app__guardian-btns {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.app__guardian-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--title);
    margin-top: 1rem;
    outline: none;
    padding: 1rem 1rem;
    min-width: 180px;
    white-space: nowrap;
    transition: all 250ms ease-in;
}

.app__guardian-btn:hover {
    background-color: #1A1D24;
    color: #fff;
}

.app__guardian-row__right {
    background-color: cadetblue;
    display: flex;
}

.card img {
    height: 100%;
    width: 100%;
}