
.app__header {
    align-items: center;
    background-image: url('../assets/images/Fortuna.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin-top: -4rem;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.app__header-overlay {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.app__header-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 4rem 4rem;
    z-index: 2;
}
.app__header-container__image-container {
    padding: 2rem;
    height: 100%;
    width: 500px;
}

.app__header-container__image {
    border-radius: 0.4rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.app__header-container__text {
    text-align: center;
    flex: 1;
}
.app__header-container__text h2 {
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--title);
}
.app__header-container__text p {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: var(--subtitle);
}

.app__header-container__text a {
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--title);
    outline: none;
    padding: 1rem 2rem;
    transition: all 250ms ease-in;
}
.app__header-container__text a:hover {
    background-color: #0C0813;
    color: #fff;
}

@media screen and (max-width: 560px) {
    .app__header-container__text h2 {
        font-size: 3.8rem;
    }
    .app__header-container__text p {
        font-size: .825rem;
    }
}