.app__work {
    padding: 4rem 2rem;
}

.app__work-container__field {
    margin-bottom: 2.5rem;
}
.app__work-container__header h2 {
    font-family: var(--title);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-align: center;
}
.app__work-container__field p {
    font-family: var(--subtitle);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}


@media screen and (max-width: 824px) {
    .app__work {
        padding: 3rem 1.5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .app__work {
        padding: 2rem 1.5rem;
    }
    .app__work-container__header h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .app__work-container__field p {
        font-size: .875rem;
    }
}