
.app__navbar {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    height: 5rem;
    left: 0;
    position: fixed;
    top: 0;
    transition: all ease 300ms;
    width: 100%;
    z-index: 10;
}
.app__navbar.appear {
    background-color: #0C0813;
    border-bottom: 1px solid #293040;
}

.app__navbar-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem ;
    width: 100%;
}

.app__navbar-container__logo {
    flex-grow: 1;
}

.app__navbar-container__links ul {
    align-items: center;
    display: flex;
    gap: 2rem 2rem;
    width: 100%;
}

.app__navbar-container a {
    color: gray;
    font-family: var(--subtitle);
    font-size: .875em;
    font-weight: 500;
    transition: all 300ms ease-in;
}

.app__navbar-container .app__navbar-container__links a:hover {
    color: #fff;
}

.app__navbar-container__links  a.app__navbar-link__active {
    color: #fff;
}

.app__navbar-container__btns {
    display: none;
}

.app__navbar-mobile__menu {
    align-items: flex-end;
    background-color: #1A1D24;
    background-color: #0C0813;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
    min-width: 210px;
    padding: 2rem;
    position: absolute;
    right: 10px;
    top: 40px;
}
.app__navbar-mobile__menu li {
    margin: 1rem 0;
}

.app__navbar-btn {
    background-color: #fff;
    border-radius: .675rem;
    color: #000;
    padding: 0.5rem 1rem;
}

.app__navbar-btn:hover {
    background-color: #293040;
}

.app__navbar-btn.app__navbar-link__active {
    background-color: #293040;
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    .app__navbar-container__links ul {
        display: none;
    }
    .app__navbar-container__btns {
        display: flex;
    }
}

