.app__rules {
    padding: 4rem 2rem;
}

.app__rules-container__field {
    margin-bottom: 1.5rem;
}
.app__rules-container__header h2 {
    color: #fff;
    font-family: var(--title);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-align: center;
}
.app__rules-container__field p {
    color: #faf8f8;
    font-family: var(--subtitle);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.app__rules-container__button button {
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding: 1rem 3rem;
}


@media screen and (max-width: 824px) {
    .app__rules {
        padding: 3rem 1.5rem 0;
    }
}

@media screen and (max-width: 560px) {
    .app__rules {
        padding: 2rem 1rem;
    }
    .app__rules-container__header h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .app__rules-container__field p {
        font-size: .875rem;
    }
}